$border-color: #dadce0;
$input-color: #9aa0a6;
$text-color: #3c4043;
$google-blue: #4285f4;
$box-shadow-color: rgba(0, 0, 0, 0.3);

* {
  box-sizing: border-box;
  // border: 1px solid black;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: $text-color;
}

// HTML & BODY
html,
body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

// LINKS
.link {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// FLEXBOX
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  @extend .flex-column;
  flex-direction: row;
}

// NAVBAR
.navbar {
  justify-content: flex-end;
  width: 100%;

  ul {
    margin: 5px;
    padding-right: 20px;

    li {
      display: inline-block;
      margin: 10px;
      padding: 5px;
    }
  }
}

// CONTAINER
.container {
  height: 100%;
}

// MAIN
.main {
  width: 100%;
  padding: 5px;
}

.logo,
.search,
.text,
.submit {
  margin: 5px;
  padding: 5px;
}

// LOGO
.logo {
  text-align: center;
  height: 106px;

  .img-logo {
    width: 0;
    height: 0;
    position: relative;
    top: -25px;
    left: 80px;
    color: $google-blue;
    font-size: 16px;
  }
}

// SEARCH
.search {
  text-align: center;
  max-width: 600px;
  margin: auto;

  form {
    width: 100%;
    margin: auto;
  }

  // TEXT
  .text {
    input {
      width: 100%;
      height: 45px;
      padding-left: 50px;
      padding-right: 20px;
      border: 1px solid $border-color;
      border-radius: 25px;
    }

    input:focus {
      outline: none;
    }

    input:hover {
      box-shadow: 0 0 4px $box-shadow-color;
      border: 1px solid white;
    }

    i {
      position: absolute;
      font-size: 15px;
      padding: 0 20px;
      color: $input-color;
    }
  }

  // SUBMIT
  .submit {
    input {
      height: 35px;
      margin: 5px 10px;
      padding: 8px 15px;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
    }

    input:hover {
      box-shadow: 0 0 4px $box-shadow-color;
      border: 1px solid $border-color;
    }
  }
}

// ADVANCED SEARCH PAGE
.logo-navbar {
  position: absolute;
  top: 15px;
  left: 20px;

  img {
    width: 74px;
    height: 24px;
  }
}

.title,
form {
  margin: 25px 45px;
}

.title {
  p {
    color: #d93025;
    font-size: 20px;
  }
}

.main-advanced {
  width: 100%;
  height: 100%;

  form {
    min-width: 300px;
    max-width: 1270px;

    table {
      width: 100%;
      table-layout: fixed;

      .label-title {
        font-size: 16px !important;
        color: #777 !important;
        font-weight: 700;
      }

      .label {
        color: $text-color;
        width: 167px;
        height: 42px;
        font-size: 13px;
      }

      .label-input {
        width: 60%;

        input {
          width: 100%;
          height: 35px;
          font-size: 13px;
          padding: 5px;
          border: 1px solid $border-color;
        }

        input:focus {
          outline: none;
          border-color: $google-blue;
          box-shadow: 0px 0px 3px $google-blue;
        }
      }

      .label-description {
        font-size: 11px;
        color: $text-color;
        padding-left: 15px;

        span {
          font-family: monospace;
          font-size: 11px;
        }
      }

      .advanced-search-btn {
        float: right;
        margin: 20px 0;

        input {
          font-size: 12px;
          background-color: $google-blue;
          color: #fff;
          border: 1px solid $google-blue;
          border-radius: 2px;
          min-width: 120px;
          height: 30px;
          padding: 0 12px;
          font-weight: bold;
          cursor: pointer;
        }

        input:hover {
          background-color: #4d91ff;
        }
      }
    }
  }
}

// FOOTER
.footer {
  width: 100%;
  background-color: #f2f2f2;
  justify-content: space-evenly;

  p,
  a {
    color: $input-color;
  }

  p {
    padding: 5px;
  }
}

// MEDIA QUERY
@media screen and (max-width: 930px) {
  .main-advanced {
    .label-input {
      input {
        width: 100%;
      }
    }

    .label-description {
      white-space: nowrap;
      visibility: collapse;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;

    p {
      text-align: center;
      margin: 0;
    }
  }
}

@media screen and (max-width: 481px) {
  * {
    font-size: 10px;
  }

  .navbar {
    ul {
      margin: 2.5px;
      padding-right: 10px;

      li {
        margin: 5px;
        padding: 2.5px;
      }
    }
  }

  .logo {
    transform: scale(0.6);
    margin-bottom: -20px;
  }

  .search {
    // TEXT
    .text {
      input {
        height: 30px;
        padding-left: 25px;
        padding-right: 10px;
      }
      i {
        font-size: 10px;
        padding: 0 10px;
        color: $input-color;
      }
    }
    // SUBMIT
    .submit {
      input {
        height: 25px;
        margin: 2.5px 5px;
        padding: 4px 7.5px;
      }
    }
  }

  // ADVANCED SEARCH PAGE
  .logo-navbar {
    position: absolute;
    top: 8px;
    left: 13px;

    img {
      width: 49px;
      height: 16px;
    }
  }

  .main-advanced {
    .title {
      p {
        font-size: 13px;
      }
    }

    .title,
    form {
      margin: 15px;
      padding: 0 10px;
    }

    .advanced-search {
      .label-title {
        font-size: 11px !important;
      }
      .label {
        font-size: 10px;
        max-width: 100px;
      }

      .label-input {
        input {
          height: 25px;
          font-size: 8px;
        }
      }

      .advanced-search-btn {
        input {
          font-size: 10px;
          min-width: 80px;
          height: 25px;
        }
      }
    }
  }
}
