* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #3c4043;
}

html,
body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

.link a {
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex-column, .flex-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.navbar {
  justify-content: flex-end;
  width: 100%;
}
.navbar ul {
  margin: 5px;
  padding-right: 20px;
}
.navbar ul li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.container {
  height: 100%;
}

.main {
  width: 100%;
  padding: 5px;
}

.logo,
.search,
.text,
.submit {
  margin: 5px;
  padding: 5px;
}

.logo {
  text-align: center;
  height: 106px;
}
.logo .img-logo {
  width: 0;
  height: 0;
  position: relative;
  top: -25px;
  left: 80px;
  color: #4285f4;
  font-size: 16px;
}

.search {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.search .text input {
  width: 100%;
  height: 45px;
  padding-left: 50px;
  padding-right: 20px;
  border: 1px solid #dadce0;
  border-radius: 25px;
}
.search .text input:focus {
  outline: none;
}
.search .text input:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}
.search .text i {
  position: absolute;
  font-size: 15px;
  padding: 0 20px;
  color: #9aa0a6;
}
.search .submit input {
  height: 35px;
  margin: 5px 10px;
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.search .submit input:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #dadce0;
}

.logo-navbar {
  position: absolute;
  top: 15px;
  left: 20px;
}
.logo-navbar img {
  width: 74px;
  height: 24px;
}

.title,
form {
  margin: 25px 45px;
}

.title p {
  color: #d93025;
  font-size: 20px;
}

.main-advanced {
  width: 100%;
  height: 100%;
}
.main-advanced form {
  min-width: 300px;
  max-width: 1270px;
}
.main-advanced form table {
  width: 100%;
  table-layout: fixed;
}
.main-advanced form table .label-title {
  font-size: 16px !important;
  color: #777 !important;
  font-weight: 700;
}
.main-advanced form table .label {
  color: #3c4043;
  width: 167px;
  height: 42px;
  font-size: 13px;
}
.main-advanced form table .label-input {
  width: 60%;
}
.main-advanced form table .label-input input {
  width: 100%;
  height: 35px;
  font-size: 13px;
  padding: 5px;
  border: 1px solid #dadce0;
}
.main-advanced form table .label-input input:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0px 0px 3px #4285f4;
}
.main-advanced form table .label-description {
  font-size: 11px;
  color: #3c4043;
  padding-left: 15px;
}
.main-advanced form table .label-description span {
  font-family: monospace;
  font-size: 11px;
}
.main-advanced form table .advanced-search-btn {
  float: right;
  margin: 20px 0;
}
.main-advanced form table .advanced-search-btn input {
  font-size: 12px;
  background-color: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
  border-radius: 2px;
  min-width: 120px;
  height: 30px;
  padding: 0 12px;
  font-weight: bold;
  cursor: pointer;
}
.main-advanced form table .advanced-search-btn input:hover {
  background-color: #4d91ff;
}

.footer {
  width: 100%;
  background-color: #f2f2f2;
  justify-content: space-evenly;
}
.footer p,
.footer a {
  color: #9aa0a6;
}
.footer p {
  padding: 5px;
}

@media screen and (max-width: 930px) {
  .main-advanced .label-input input {
    width: 100%;
  }
  .main-advanced .label-description {
    white-space: nowrap;
    visibility: collapse;
    overflow: hidden;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .footer p {
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 481px) {
  * {
    font-size: 10px;
  }
  .navbar ul {
    margin: 2.5px;
    padding-right: 10px;
  }
  .navbar ul li {
    margin: 5px;
    padding: 2.5px;
  }
  .logo {
    transform: scale(0.6);
    margin-bottom: -20px;
  }
  .search .text input {
    height: 25px;
  }
  .search .submit input {
    height: 25px;
    margin: 2.5px 5px;
    padding: 4px 7.5px;
  }
  .logo-navbar {
    position: absolute;
    top: 8px;
    left: 13px;
  }
  .logo-navbar img {
    width: 49px;
    height: 16px;
  }
  .main-advanced .title p {
    font-size: 13px;
  }
  .main-advanced .title,
  .main-advanced form {
    margin: 15px;
    padding: 0 10px;
  }
  .main-advanced .advanced-search .label-title {
    font-size: 11px !important;
  }
  .main-advanced .advanced-search .label {
    font-size: 10px;
    max-width: 100px;
  }
  .main-advanced .advanced-search .label-input input {
    height: 25px;
    font-size: 8px;
  }
  .main-advanced .advanced-search .advanced-search-btn input {
    font-size: 10px;
    min-width: 80px;
    height: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
