$border-color: #dadce0;
$input-color: #9aa0a6;
$text-color: #3c4043;
$box-shadow-color: rgba(0, 0, 0, 0.3);

* {
  box-sizing: border-box;
  // border: 1px solid black;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: $text-color;
}

// HTML & BODY
html,
body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

// LINKS
.link {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// FLEXBOX
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  @extend .flex-column;
  flex-direction: row;
}

// NAVBAR
.navbar {
  justify-content: flex-end;
  width: 100%;

  ul {
    margin: 5px;
    padding-right: 20px;

    li {
      display: inline-block;
      margin: 10px;
      padding: 5px;
    }
  }
}

// CONTAINER
.container {
  height: 100%;
}

// MAIN
.main {
  width: 100%;
  padding: 5px;
}

.logo,
.search,
.text,
.submit {
  margin: 5px;
  padding: 5px;
}

// LOGO
.logo {
  text-align: center;
  height: 106px;

  .img-logo {
    width: 0;
    height: 0;
    position: relative;
    top: -25px;
    left: 80px;
    color: #4285f4;
    font-size: 16px;
  }
}

// SEARCH
.search {
  text-align: center;
  max-width: 600px;
  margin: auto;

  // TEXT
  .text {
    input {
      width: 100%;
      height: 45px;
      padding-left: 50px;
      padding-right: 20px;
      border: 1px solid $border-color;
      border-radius: 25px;
    }

    input:focus {
      outline: none;
    }

    input:hover {
      box-shadow: 0 0 4px $box-shadow-color;
      border: 1px solid white;
    }

    i {
      position: absolute;
      font-size: 15px;
      padding: 0 20px;
      color: $input-color;
    }
  }

  // SUBMIT
  .submit {
    input {
      height: 35px;
      margin: 5px 10px;
      padding: 8px 15px;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
    }

    input:hover {
      box-shadow: 0 0 4px $box-shadow-color;
      border: 1px solid $border-color;
    }
  }
}

// FOOTER
.footer {
  width: 100%;
  background-color: #f2f2f2;
  justify-content: space-evenly;

  p,
  a {
    color: $input-color;
  }
  p {
    padding: 5px;
  }
}

// MEDIA QUERY
@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;

    p {
      text-align: center;
      margin: 0;
    }
  }
}

@media screen and (max-width: 481px) {
  * {
    font-size: 10px;
  }

  .navbar {
    ul {
      margin: 2.5px;
      padding-right: 10px;

      li {
        margin: 5px;
        padding: 2.5px;
      }
    }
  }

  .logo {
    transform: scale(0.6);
    margin-bottom: -20px;
  }

  .search {
    // TEXT
    .text {
      input {
        height: 25px;
      }
    }
    // SUBMIT
    .submit {
      input {
        height: 25px;
        margin: 2.5px 5px;
        padding: 4px 7.5px;
      }
    }
  }
}
